* { color: #FFE3D8; }

header { margin-bottom: 3vh; }

h2 { text-align: center; }

a { color: #FFE3D8; }

main {
  height: 100vh;
  background-color: #0A043C;
}

svg {
  width: 17;
  height: 17;
  margin-right: 3%;
}

div.col-12 { padding: 3%; }

.card {
  background-color: hsla(197, 95%, 22%, 0.5);
  padding: 5%;
}

.list-group-item {
  background-color: hsla(202, 95%, 22%, 0.5);
  color: #FFE3D8;
}

nav.navbar {
  background-color: hsl(246, 76%, 9%);
}

label.option-text {
  font-size: 85%;
}

button#add-question {
  margin-bottom: 3vh;
}