* {
  color: #FFE3D8;
}

header{
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-bottom: 3vh;
}

main {
  height: 100vh;
  background-color: #0A043C;
}

a { color: #FFE3D8; }

h2, h3 {
  font-weight: normal;
  text-align: center;
}

form {
  justify-self: center;
  align-self: center;
}

input,
select {
  margin-bottom: 3vh;
}

svg {
  width: 17;
  height: 17;
  margin-right: 3%;
}

.card { background-color: hsla(197, 95%, 22%, 0.5); }

.question { padding: 5%; }

.list-group-item {
  background-color: hsla(202, 95%, 22%, 0.5);
  color: #FFE3D8;
}

p, 
a.link-secondary {
  color: hsla(17, 100%, 92%, 0.7);
}

div.col-12 {
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: #0A043C;
  color: #FFE3D8;
}

input::placeholder { font-style: italic; }

nav.navbar { background-color: hsl(246, 76%, 9%); }

label.option-text { font-size: 85%; }

button#add-question { margin-bottom: 3vh; }